/* * {
    padding: 0;
    margin: 0
} */


/* title font */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.noto-serif-title {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


/* description font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.main {
    margin: 10px 100px;
}


/* header style */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content,
.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.nav .nav-content,
ul,
li {
    gap: 3rem;
}

.nav,
ul,
li,
a {
    text-decoration: none;
    color: #8987A1;
    font-size: 1.2rem;
}

.Home-color {
    color: #252432;
}

.fa-solid {
    font-size: 1rem;
    color: #252432;
    margin-bottom: 30px;
}


/* banner style */

.banner {
    display: flex;
    padding: 10rem 0rem;
}

.banner-description {}

.title-banner {
    font-size: 4.1rem;
    color: #E95A08;
    margin-bottom: 0;
}

.banner,
span {
    color: #000;
}

.banner-description,
p {
    font-size: 1.4rem;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
}


/* Plants style */

.Plants {
    text-align: center;
}

.title-plants {
    font-size: 3.2rem;
    color: #000;
    margin: -10px 0px;
}

.our-plants {
    color: #E95A08;
}

.content-plants {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 35px;
}

.plant-card {
    margin-bottom: 20px;
}

.plant-name {
    font-size: 1.8rem;
    font-weight: 600;
    color: #111111;
    margin: 10px 0px;
}

.plant-usd {
    font-size: 1.8rem;
    font-weight: 700;
    color: #111111;
    margin: 15px 0px;
}

.btn-primary {
    font-size: 1rem;
    font-weight: 700;
    color: white;
    padding: 20px 80px;
    background: #E95A08;
    border: none;
    transition: 1s ease-in;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #E95A08;
    background: transparent;
    border: 1px solid #E95A08;
}


/* flower-lovers style */

.flower-lovers {
    display: flex;
    margin: 180px 0px 50px 0px;
    gap: 25px;
}

.flower-left {
    position: relative;
}

.img-one {}

.img-two {
    width: 40%;
    position: absolute;
    margin: -99px 0px 0px 400px;
}

.flower-title {
    font-size: 3.2rem;
    font-weight: 700;
    color: #000;
}

.flower-right,
ul,
li {
    padding: 0px 20px;
    margin-bottom: 25px;
}


/* deal style */

.deal {
    text-align: center;
    margin: 80px 0px;
}

.deal-title {
    font-size: 3.2rem;
    font-weight: 700;
    color: #000;
    margin: 15px 0px;
}

.cut {
    color: #E95A08;
}

.deal-description {
    padding: 0px 96px;
    line-height: 1.4em;
}

.deal-content {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
}

.inner-deal {}

.bloom {
    width: 77%;
    padding: 65px 50px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 15px;
    line-height: 1.7em;
}

.ana {
    width: 54%;
    padding: 69px 87px;
    background: url(./img/deal-ana.png) no-repeat center;
    color: white;
    border-radius: 11px;
    font-weight: 700;
    line-height: 1.7em;
    font-size: 1.1rem;
}

.inner-dea2 {
    width: 750px;
    height: 407px;
    border-radius: 10px;
    background: url(./img/deal-zabo.png) no-repeat center;
}

.zabo {
    color: white;
    font-size: 2.6rem;
    font-weight: 700;
    margin: 160px 0px;
}

.zabo-inn {
    color: white;
    font-size: 1.4rem;
}

.shop-deal {
    margin: 20px;
    color: white;
    font-size: .8rem;
    text-decoration: underline;
}

.shop-deal2 {
    margin: 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: underline;
}


/* Join section style */

.join {
    width: 100%;
    padding: 120px 0px;
    background: url(./img/news-letter-bg.png);
    text-align: center;
}

.join,
h1 {
    font-size: 3.2rem;
    font-weight: 700;
    color: white;
    margin: 5px 0px;
}

input {
    width: 500px;
    height: 40px;
    border: none;
    color: #8987A1;
    font-size: 1rem;
    padding-left: 20px;
}

.join .btn-primary {
    padding: 12px 25px;
    margin-left: -12px;
}

.placeholder {
    color: #8987A1;
    padding-left: 20px;
    font-size: 1.5rem;
}


/* footer style */

.footer {
    display: flex;
    margin: 50px 100px;
    gap: 35px;
}

.left {
    width: 33%;
}

.middle {
    display: flex;
}

.middle-inn ul {
    list-style: none;
}

.right {
    padding: 20px 0px;
}

.right img {
    margin-right: 20px;
}


/* @media Quer */

@media screen and (max-width: 576px) {
    .main {
        margin: 0px 0px;
        align-items: center;
    }
    .nav,
    .nav-content,
    .nav ul {
        flex-direction: column;
    }
    .hidden {
        display: none;
    }
    .banner {
        flex-direction: column-reverse;
    }
    .banner-img {
        display: flex;
        flex-direction: column-reverse;
    }
    .title-banner {
        font-size: 2.8rem;
    }
    .Plants {}
    .content-plants {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .flower-lovers {
        flex-direction: column;
    }
    .img-two {
        display: none;
    }
    .deal-content {
        flex-direction: column;
    }
    .join {
        margin: 20px 0px;
    }
    .footer,
    .middle {
        flex-direction: column;
        margin: 20px 0px;
    }
}